body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.counters {
    display: flex;
    justify-content: space-between;
}

.counter {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex-basis: 20%; /* 5 contadores ocuparán todo el espacio */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.value {
    font-size: 24px;
    font-weight: bold;
}

.label {
    margin-top: 10px;
}

.charts, .lists {
    margin-top: 20px;
}

.chart, .list {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.list ul {
    list-style-type: none;
    padding: 0;
}

.country, .value {
    display: inline-block;
}

.country {
    width: 60px;
}
